:root {
    --grey: #D9D9D9;
    --grey-light:#e8e8e8;
    --grey-lightest: #f4f4f4;
    --grey-code-expander: #959494;
    --white: #FFFFFF;
    --button-color-yellor: #FEC51C; 
    --brown: #2C1100;
}
* {
    font-family: 'Montserrat', sans-serif !important;
    margin: 0;
    padding: 0;
    gap: 0;
}

code {
    font-size: calc(11px + 0.2vw);
    background-color: var(--grey-lightest);
}
p, ol, ul, dl, li, td, th {
    margin: 0;
    padding: 0px;
    font-size: calc(12px + 0.2vw);
}
span {
    font-size: calc(13px + 0.2vw);
    margin-bottom: 0;
}
small {
    font-size: calc(10px + 0.2vw) !important;
}

h4 {
    padding: 0;
}
/* NAV BAR */
#MainMenu, header, footer {
    visibility: hidden;
}
    
.custom-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #0E1117;
    z-index: 999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.nav-items {
    display: flex;
    align-items: center;
}
.nav-item {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.nav-item:hover {
    background-color: #2E2E2E;
}
.nav-item.active {
    background-color: #4CAF50;
    color: white;
}

.more-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 0 10px;
}

/* END NAV BAR */

/* GENERAL */
.define {
    margin-left: calc(1.3rem + 1vw);
    margin-top: 1.3rem ;
    margin-bottom: 1.3rem ;
}
.define-li {
    margin: 1.3rem 0;
    font-size: calc(12px + 0.2vw) !important;
    
}

hr {
    margin-top: 1.5rem;
    margin-bottom: 1.3rem;
    border-bottom: 1.2px solid rgba(0, 0, 0, 0.6);
}
/* END GENERAL */
/* EXPANDER */
[data-testid="stExpanderDetails"] ul li {
    font-size: calc(12px + 0.1vw);
    margin: 1rem 0 1rem 1.5rem;
    color: black
}
.stExpander p {
    font-size: calc(13px + 0.1vw);
    font-weight: 700;
    color: var(--brown);
    padding-left: 0.5rem;
}
.st-emotion-cache-1h9usn1 {
    background-color: var(--button-color-yellor);
    font-size: calc(16px +1vw);
}

[data-testid="stExpanderDetails"] {
    background-color: var(--grey-light);
    border-radius: 8px;
}

[data-testid="stExpanderDetails"] ul li code {
    background-color: var(--grey-code-expander);
    color: var(--white);
    font-weight: 500;
    letter-spacing: 0.25px;
}
/* END EXPANDER */

/* DATASET */
p.define.dataset-page {
    margin-left: 0;
    font-size: calc(12px + 0.2vw) !important;

}

li.define-li.dataset-page {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
}

h4.dataset-page {
    background: var(--grey);
    padding: 0.7rem 0 0.7rem 1rem;
    border-radius: 8px;
    font-size: calc(18px + 0.2vw)
}

.header-container {
    position: relative;
    width: 100%;
    height: calc(100px + 7vw);
    overflow: hidden;
}

.header-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.header-title {
    font-size: calc(30px + 0.3vw);
    font-weight: 800;
}

.header-title2 {
    font-size: calc(30px + 0.3vw);
    font-weight: 800;
    margin-right: auto;
    padding-left: 1rem
}
.header-subtitle {
    font-size: calc(11px + 0.3vw);
}

/* Responsive adjustments */
@media (max-width: 650px) {
    .header-title {
        font-size: calc(17px + 1vw);
    }
    .header-subtitle {
        font-size: calc(10px + 0.5vw);
    }
}

@media (max-width: 480px) {
    .header-title {
        font-size: calc(5px + 3vw);
    }
}

@media (max-width: 380px) {
    .header-title {
        font-size: 3.5vw;
    }

    .header-subtitle2 {
        font-size: 7.5vw;
        padding: 1vw;
    }
    .header-subtitle {
        font-size: calc(2px + 3vw);
    }
}
